.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 50%;
  }
}

@media (max-width: 990px) {
  .col-md-9 img {
    width: 300px;
    height: 200px;
  }
}
