<table class="table">
  <thead>
    <tr>
      <th class="no">No.</th>
      <th>Name</th>
      <th class="image">Image</th>
      <th>Stock</th>
      <th>Price</th>
      <th>Product Details</th>
      <th>Add To CART</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prd of prdList; let i = index">
      <td class="no">{{ i + 1 }}</td>
      <td>{{ prd.name }}</td>
      <td class="image">
        <img
          style="height: 150px; width: 200px"
          [src]="prd.image"
          alt="image"
        />
      </td>
      <td>{{ prd.stock }}</td>
      <td>{{ prd.price }}</td>
      <td>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="navigateToPrdDetails(prd.id)"
        >
          details
        </button>
      </td>
      <td>
        <button
          type="submit"
          class="btn btn-secondary"
          (click)="addItemToCart(prd.id)"
        >
          Add To Cart
        </button>
      </td>
    </tr>
  </tbody>
</table>
