<div class="container-fluid">
  <section class="row">
    <div class="intro_section">
      <h1>Welcome To Gallery App</h1>
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              class="d-block w-100"
              src="https://picsum.photos/286/180"
              alt="First slide"
            />
          </div>
          <div class="carousel-item">
            <img
              class="d-block w-100"
              src="https://picsum.photos/286/180"
              alt="Second slide"
            />
          </div>
          <div class="carousel-item">
            <img
              class="d-block w-100"
              src="https://picsum.photos/286/180"
              alt="Third slide"
            />
          </div>
        </div>
      </div>
    </div>

    <h2 class="special-heading">services</h2>
    <div class="services_section">
      <div
        *ngFor="let serv of serList"
        class="card text-white bg-secondary mb-3"
        style="max-width: 18rem"
      >
        <div class="card-header">{{ serv.name }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ serv.name }}</h5>
          <p class="card-text">
            {{ serv.descreption }}
          </p>
        </div>
      </div>
    </div>

    <h2 class="special-heading">Categories</h2>
    <div class="categories_section">
      <div *ngFor="let categ of categList" class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">{{ categ.name }}</h5>
          <p class="card-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex quae
          </p>
        </div>
      </div>
    </div>
  </section>

  <h2 class="special-heading">Feature Products</h2>
  <div class="products_section">
    <div *ngFor="let prd of prdList" class="card" style="width: 18rem">
      <img class="card-img-top" [src]="prd.image" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">{{ prd.name }}</h5>
        <p class="card-text">
          {{ prd.descreption }}
        </p>
        <a
          type="button"
          class="btn btn-primary"
          (click)="navigateToPrdDetails(prd.id)"
          >Details</a
        >
      </div>
    </div>
  </div>
</div>
